@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

body {
  background-color: #f1f1f1;
}

input {
  border: 0;
}

input:focus {
  outline: none;
}

ul {
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
}

button {
  border: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo__image {
  height: fit-content;
}

.logo__name {
  font-size: max(20px, 1.5vw);
}

.nav {
  gap: 40px;
}

.nav__item {
  text-wrap: nowrap;
  display: flex;
  align-items: center;
}

.nav__link {
  font-size: max(14px, 1vw);
  color: #081e34;
}

.nav__app {
  margin-left: 16px;
}

.button {
  text-wrap: nowrap;
  padding: 10px 12px;
  border-radius: 100px;
  font-size: max(14px, 1vw);
}

.button_gray {
  background-color: #081e341f;
  color: #081e34;
}

.button_purple {
  padding: 16px 24px;
  background-color: #712fff;
  color: #fff;
}

.title {
  font-size: max(32px, 3.3vw);
  line-height: max(30px, 4vw);
}

.text {
  font-size: max(12px, 1.1vw);
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
}

.welcome__container {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}

.welcome__content {
  display: flex;
  flex-direction: column;
  gap: 3vw;
}

.welcome__content .button {
  width: fit-content;
}

.welcome__image {
  width: 40vw;
}

.work {
  background-color: #e1dee7;
}

.work__container {
  padding: 100px 0;
}

.work__title {
  margin-bottom: 84px;
}

.work__title {
  text-align: center;
}

.overtitle {
  font-size: max(12px, 1vw);
  line-height: 20px;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: calc(25em + 1vmin);
  margin-bottom: 50px;
}

.card__image {
  margin-bottom: 48px;
}

.card__title {
  font-size: calc(1.3em + 1vmin);
}

.card .text {
  margin-top: 24px;
}

.start__container {
  padding: 100px 0;
}

.start__content {
  width: 40%;
}

.start__content .text {
  margin: 32px 0;
}

.form {
  display: flex;
  gap: 32px;
}

.search-bar {
  width: max(100px, 50vw);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 14px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid #e1dee7;
  font-size: max(14px, 2vw);
}

.search-bar input {
  width: 100%;
  color: #000000;
}

.upload__container {
  display: flex;
  justify-content: space-between;
  gap: 10%;
  padding: 64px 0;
}

.upload__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.upload__button {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
}

.upload__image {
  width: 40vw;
}

.footer {
  border-radius: 32px 32px 0 0;
  background-color: #ffffff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 100px;
}

.footer__text {
  color: rgba(8, 30, 52, 0.484);
}

@media screen and (max-width: 1300px) {
  .footer__container {
    flex-direction: column;
    gap: 50px;
  }
}

@media screen and (max-width: 991px) {
  br {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .button {
    margin: 0 auto;
  }

  .card {
    justify-content: center;
  }

  .nav__apps {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .nav__app {
    margin: 0;
    width: fit-content;
  }

  .header__container .nav .nav__item {
    display: none;
  }

  .welcome__container {
    margin: 20px 0;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: start;
    gap: 50px;
  }

  .welcome__image {
    width: 60%;
  }

  .upload__image {
    width: 80%;
  }
  .welcome__content {
    width: 80%;
    gap: 4.5vw;
  }

  .start__container {
    flex-direction: column;
    text-align: center;
  }

  .start__content {
    margin: 0 auto;
    width: 80%;
  }

  .form {
    flex-direction: column;
  }

  .search-bar {
    width: 80%;
    margin: 0 auto;
  }

  .upload__container {
    flex-direction: column;
    gap: 30vw;
  }

  .upload__button {
    margin: 0;
  }

  .footer__container .nav {
    flex-direction: column;
  }

  .work__container .title {
    margin-top: 20px;
  }
}

@media screen and (max-width: 650px) {
  .search-bar {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .welcome__image,
  .upload__image {
    width: 100%;
  }
}
