.post {
  display: flex;
  gap: 15px;
  padding: 15px;
  border-bottom: 1px solid #2f3336;
  color: #d9d9d9;
}

.post__image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.post__author {
  font-size: 14px;
}

.post__author span {
  margin-left: 6px;
  color: #6e767d;
}

.post__text {
  margin: 10px 0;
}

.post__actions {
  color: #6e767d;
}

.post__actions span {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  margin-right: 80px;
}
